body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(#51e2f5, #a28089);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #9df9ef;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    min-width: 500px;
    max-width: 500px;
}

.form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #e3e1c6;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
}

/* all buttons */
button {
    padding: 10px 20px;
    background-color: #ffa8b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

/* Created buttons */
button:hover {
    background-color: #005959;
}

/* Created buttons container */
.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* Created buttons */
.button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}

